* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
  padding: 0;
  margin: 0;
  }

/* =========================
WINDOW / BASE
========================= */
window#waybar {
background: #181616; /* kanagawa dragon bg */
color: #c5c9c5;      /* fg */
}

/* =========================
WORKSPACES
========================= */
#workspaces {
padding: 0 6px;
}

#workspaces button {
padding: 2px 7px;
background: transparent;
color: #727169; /* grey */
transition: all 0.2s ease;
}

#workspaces button.active {
color: #7e9cd8; /* blue */
border-bottom: 2px solid #7e9cd8;
}

#workspaces button:hover {
color: #b6927b; /* orange */
}

/* =========================
SYSTEM MODULES
========================= */
#cpu {
color: #8ea4a2; /* aqua */
}

#memory {
color: #c4b28a; /* yellow */
}

#battery {
color: #8a9a7b; /* green */
}

#pulseaudio {
color: #b6927b; /* orange */
}

#backlight {
color: #957fb8; /* purple */
}

#clock {
color: #8a9a7b; /* soft green */
}

#network {
color: #7e9cd8; /* blue */
}

/* =========================
CUSTOM MODULES
========================= */
#custom-spotify {
color: #8a9a7b;
}

#custom-current_app {
color: #8ea4a2;
}

#custom-datetime {
color: #8a9a7b;
font-size: 13px;
}

/* =========================
PADDING PADRÃO
========================= */
#cpu,
#memory,
#pulseaudio,
#clock,
#battery,
#backlight,
#network {
padding: 0 10px;
font-size: 13px;
}

/* =========================
TOOLTIP
========================= */
tooltip {
background-color: #1f1f28; /* bg darker */
color: #c5c9c5;
border: 1px solid #2a2a37;
padding: 6px;
font-family: "Fira Code", monospace;
font-size: 12px;
}
